@charset "UTF-8";

/* color */
$main-color:#1d2577;
$line-color:#00b300;
$gray:#eff5f6;
$red:#1d2577;

/* font */
$mincho:"游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$gothic:"Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

/* 1.breakpoint */
$breakpoints: (
  'sm': 'screen and (max-width: 479px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1100px)',
  '-sm': 'screen and (min-width: 480px)',
  '-md': 'screen and (min-width: 769px)',
  '-xl': 'screen and (min-width: 1100px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// @include mq(){}
// @include mq(sm){}
// @include mq(lg){}

.pc{@include mq(){display: none!important;}}
.sp{display: none!important; @include mq(){display: block!important;}}

html{
  font-size: 62.5%;
  text-align: justify;
  font-family: $mincho;
  font-weight: 500;
}
body {
    margin: auto;
    font-size: 1.6rem;
}
main{padding-top: 61px;}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
//flex
@mixin flex{
  display: flex;
  flex-wrap: wrap;
}

.wrapper{
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

//btn

.line_btn,.form_btn,.more_btn{
  font-size: 1.4rem;
  padding: 10px 30px;
  color: #fff;
  position: relative;
  font-family: $gothic;
  display: block;
  transition: all .3s;
  &::after{
    content: '';
    position: absolute;
    right:20px;
    top: 50%;
    width: 4px;
    height: 4px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg)translate(-50%, -50%);
    transition: all .3s;
  }
  &:hover{background-color: #998bfa; background-position: -100% 100%;}
  &:hover::after{right: 10px;}
}
.line_btn{
  background-size: 200% 100%;
  background-image: -webkit-linear-gradient(left, $line-color 50%, #fff 50%);
  background-image: linear-gradient(to right, $line-color 50%, #fff 50%);
  -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  margin-right: 10px;
  border: 1px solid $line-color;
  &:hover{color: $line-color; background-color: #fff; background-position: -100% 100%;}
  &:hover::after{border-color: $line-color;}
  &::before{
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(../image/common/line_icon.png);
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    background-size: contain;
  }
  &:hover::before{background-image: url(../image/common/line_icon_hover.png);}
}
.form_btn{
  background-size: 200% 100%;
  background-image: -webkit-linear-gradient(left, $main-color 50%, #fff 50%);
  background-image: linear-gradient(to right, $main-color 50%, #fff 50%);
  -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  border: 1px solid $main-color;
  &:hover{color: $main-color;background-color: #fff; background-position: -100% 100%;}
  &:hover::after{border-color: $main-color;}
  &::before{
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(../image/common/form_icon.png);
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    background-size: contain;
  }
  &:hover::before{background-image: url(../image/common/form_icon_hover.png);}
}
.more_btn{
  color: $main-color;
  background-size: 200% 100%;
  background-image: -webkit-linear-gradient(left, #fff 50%, $main-color 50%);
  background-image: linear-gradient(to right, #fff 50%, $main-color 50%);
  -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  border: 2px solid $main-color;
  &::after{border-color: $main-color;}
  &:hover{color: #fff;background-color: $main-color; background-position: -100% 100%;}
  &:hover::after{border-color: #fff;}
}

h2{
  color: $main-color;
  font-size: 1.4rem;
  text-align: center;
  padding: 70px 0 20px;
  margin-top: 0;
  @include mq(){padding: 30px 0 10px;}
  span{
    font-size: 2.4rem;
    letter-spacing: .2rem;
    position: relative;
    display: block;
    @include mq(){font-size: 2rem;}
    &::after{
      position: initial;
      display: block;
      margin: 10px auto 14px;
      width: 40px;
      height: 3px;
      content: '';
      border-radius: 3px;
      background: linear-gradient(to right, #1d2577 0%,#1d2577 50%,#c6251e 50%,#c6251e 100%);
      @include mq(){margin: 5px auto 8px;}
    }
  }
}

//RESULTS
#results{
  .wrapper{
    padding-bottom: 85px;
    @include mq(){padding-bottom: 50px;}
  }
  .results_box{
    width: 31%;
    margin: 0 1%;
    text-align: center;
    color: $main-color;
    position: relative;
    color: #fff;
    transition: 0;
    &::after{
      content: '';
      position: absolute;
      right: 0;
      top:0;
      width: 35px;
      height: 35px;
      background-image: url(../image/top/more.png);
    }
    p{margin: 0;}
    img{
      width: 72px;
      @include mq(){
        width: 50px;
        margin-top: 14px;
      }
    }
    &:hover{opacity: .6 !important;}
  }
  .doboku{background-image: url(../image/top/bk_doboku.png);}
  .archtect{background-image: url(../image/top/bk_archtect.png);}
  .now{background-image: url(../image/top/bk_now.png);}
  .results_box_txt{
    padding: 50px;
    @include mq(){padding: 10px;}
  }
  .results_txt{
    font-size: 1.6rem;
    line-height: 3.4rem;
    text-align: center;
    a{
      cursor: pointer;
      background-color: #f5f5f5;
      color: $main-color;
      border-radius: 6px;
      margin: auto;
      transition: all .3s;
      font-size: 14px;
      padding: 0 19px;
      margin: 15px 0 30px;
      display: inline-block;
      &:hover{
        background-color: $main-color;
        color: #fff;
      }
    }
  }
  .results_pick{
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    position: relative;
    width: 97%;
    margin: 2% 1% 0;
    span{
      position: absolute;
      background-color: $main-color;
      color: #fff;
      left: 0;
      top:0;
      padding: 0 10px;
    }
  }
  .results_pick_img{
    max-width: 410px;
    width: 40%;
    line-height: 0;
    @include mq(){
      width: 100%;
      max-width: 100%;
    }
  }
  .results_pick_txt{
    width: 60%;
    @include mq(){width: auto;}
    p{
      padding: 20px;
      margin: 0;
      line-height: 3rem;
    }
  }
}
