@charset "UTF-8";
h1{
  background-image: url(../image/top/bk_contents.png);
  background-position: bottom;
  margin: auto;
  padding: 80px 0 60px;
  color: #fff;
  text-align: center;
  @include mq(){padding: 40px 0 30px;}
}

h1 span{
  display: block;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: normal;
  letter-spacing: .2rem;
  @include mq(){
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
