// compileCompressed: ../css/$1.css

@import "common";
@import "nav";
@import "layer";

#outline .wrapper{
  max-width: 850px;
}

#outline table{border-collapse: collapse ;}
#outline th,#outline td{
  padding: 5px 10px;
  font-size: 1.6rem;
  @include mq(){
    font-size: 1.3rem;
  }
}
#outline th{
  border-right: 1px solid #e1e9ea;
  width: 40%;
  @include mq(-md){white-space: nowrap;}
  @include mq(){width: 8rem;}
}
#outline tr{
  background-color: $gray;
  &:nth-of-type(2n){background-color: #fff;}
}
#outline iframe{
  margin-top: 80px;
  max-width: 100%;
  @include mq(){height: 70vw;}
}

#top_message{
  background-color: $gray;
  margin-top: -10px;
}
#top_message h2{margin-top: 0;}
#top_message {
  padding-bottom: 85px;
  @include mq(){padding-bottom: 30px;}
}
.top_message_txt{
  width:73%;
  line-height: 3.5rem;
  @include mq(){
    width:100%;
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-bottom: 30px;
  }
}
.top_message_profile{
  width: 21%;
  margin: 0 3%;
  text-align: right;
  font-size: 1.3rem;
  @include mq(){
    width:100%;
    text-align: center;
  }
  span{font-size: 2rem;}
  img{
    box-shadow: 20px 20px 0 #fff;
    @include mq(){max-width: 70%;}
  }
}
