// compileCompressed: ../css/$1.css

@import "common";
@import "nav";
@import "layer";

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

/* フォーム */
form {
  width: 700px;
  margin: 50px auto;
}

.faq {
  height: 50px !important;
}

.item {
  overflow: hidden;
  margin-bottom: 20px;
}

.item .supplement {
  display: inline-block;
  width: 100%;
  font-size: 1.3rem;
}

.label {
  float: left;
  margin-right: 20px;
  width: 23%;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: right;
  letter-spacing: .1rem;
  padding-top: 14px;
}

.inputs {
  float: left;
  width: 60% !important;
}

.radio {
  text-align: left;
  font-weight: normal;
  padding-left: 10px;
}

.item:nth-of-type(3) .label, .item:nth-of-type(5) .label {
  padding-top: 0;
}

input[type="text"], input[type="email"], input[type="number"] {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

input[type="radio"] {
  width: auto !important;
}

input[type="submit"] {
  background: $main-color;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
  margin: 20px auto 0;
  float: none;
  border-radius: 50px;
  transition: all .3s;
  &:hover{
    opacity: .6;
    cursor: pointer;
  }
}

input[type="reset"] {
  background: #aaa;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 5px;
}

textarea {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}

.btn-area {
  text-align: center;
}

.item:nth-of-type(-n+4) .label:before{
  position: relative;
  top: -3px;
  float: right;
  padding: 0 5px;
  content: '必須';
  color: #fff;
  border-radius: 3px;
  background-color: #d4462f;
  font-size: 1.3rem;
  margin-left: 5px;
}

@media (max-width: 680px) {
  form {
    width: 90%;
    margin: 50px auto;
  }
  .label {
    margin-right: 2%;
    width: 32%;
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  .inputs {
    width: 59% !important;
  }
  input[type="text"], input[type="email"], input[type="number"] {
    padding: 3%;
  }
  input[type="submit"] {
    width: 80% !important;
  }
}
