// compileCompressed: ../css/$1.css
@import "common";
@import "nav";
@import "layer";


/* 求人一覧 */
#joblist main .wrapper{
  max-width: 1000px;
  padding-bottom: 60px;
}

.joblist {
  border: 1px solid #e0e0e0;
  padding-top: 20px;
  margin-top: 50px;
}
.job_box{
  padding: 0 20px;
  transition: all .3s;
  width: 100%;
  &:hover{opacity: .6;}
}
.job_img{
  width: 30%;object-fit: contain; padding-bottom: 20px;
  position: relative;
  span{
    position: absolute;
    top:0;
    left: 0;
    background-color: $main-color;
    color: #fff;
    padding: 5px 10px;
    font-family: $gothic;
  }
}
.job_txt{
  width: 67%;
  color: #000;
  padding-left: 3%;
  span{
    color: $main-color;
    display: block;
    font-size: 2.2rem;
    padding-bottom: 10px;
    @include mq(){
      font-size: 1.6rem;
    }
  }
}
.job_img,.job_txt{@include mq(){width: 100%;padding-left: 0}}
.conditions{padding: 0 20px 20px;}
.conditions,.conditions table{width: 100%;}
.joblist td,.joblist th{
  padding: 20px;font-size: 16px;
  @include mq(){padding: 5px;font-size: 13px;}
}
.joblist td{background-color: $gray; border:1px solid $gray;width: 20%;color: $main-color;text-align: center;}
.joblist th {border:1px solid #e0e0e0;}

.joblist .btn{
  background-color: $gray;
  justify-content: center;
  width: 100%;
  padding: 20px;
  a{
    width: 20%;
    text-align: center;
    @include mq(){
      width: 100%;
    }
    div{@include mq(){margin: 10px 0;}}
  }
}
.more_btn{margin-right: 0;}
.line_btn{margin-right: 0;}
.form_btn{margin: 0 10px;}

/* 求人詳細 */
.job_detail h3{
  color: $main-color;
  margin: 40px 0;
  line-height: 3.3rem;
  span{
    display: block;
    font-size: 1.4rem;
    color: #000;
  }
}

.job_detail_img{width: 30%; @include mq(){width: 100%;}}
.job_detail_txt{width: 67%;padding-left: 3%;@include mq(){width: 100%;}}

.job_detail_txt{
  h4{
    color: $main-color;
    text-align: center;
    font-size: 1.8rem;
    padding: 8px 0;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    margin: 0 0 20px;
  }
  span{
    background-color: $gray;
    color: $main-color;
    padding: 0 20px;
    display: inline-block;
    margin: 20px 0 10px;
  }
  .red{color: #d80000;}
}

.job_detail{
  table{border-collapse:collapse ; margin-top: 20px;}
  th,td{color: $main-color; border: 1px solid #d5dde6; padding: 5px 10px;}
  th{width: 30%; background-color: $gray; color: $main-color;}
  td{width: 70%;}
}

.recruit_bnr{
  margin: auto;padding: 60px 0;
  transition: all .3s;
  &:hover{opacity: .6;}
}

#job_detail .job_detail_cv{
  background-color: $gray;
  text-align: center;
  padding: 40px 0;
  .btn{
    justify-content: center;
    padding-bottom: 30px;
    a{min-width: 20%;}
    div{border-radius: 6px;}
  }
  img{
    margin: auto;
    width: auto;
    border-radius: 6px;
    max-width: 90%;
    transition: all .3s;
    &:hover{opacity: .6;}
  }
}
