// compileCompressed: ../css/$1.css

@import "common";
@import "nav";
@import "layer";

.step1,.step2,.step3{
  padding-bottom: 50px;
  img{width: auto;margin: auto;max-width: 100%;}
}

#line{text-align: center;}
.step1,.step3{background-color: $gray;}

.btn{
  justify-content: center;
  padding: 30px 0;
}
.btn a{
  min-width: 20%;
}
