// compileCompressed: ../css/$1.css

@import "common";
@import "nav";
@import "layer";

.privacy_txt p{
  line-height: 3rem;
  display: block;
  padding-bottom: 10px;
}
.privacy_txt span{
  color: $main-color;
  display: block;
}

.privacy_txt.wrapper{
  max-width: 800px;
  padding: 50px 0;
}
