// compileCompressed: ../css/$1.css
@import "common";
@import "nav";
@import "layer";

#recruit #title{
  background-image: url(../image/recruit/title.png);
  background-position: bottom;
  h1{
    background-image: none;
    padding: 120px 0 20px;
    font-size: 1.6rem;
    @include mq(){padding: 60px 0 0;}
  }
  p{
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: .2rem;
    padding: 20px 0 100px;
    @include mq(){
      padding: 20px 11vw 60px;
      font-size: 6vw;
    }
  }
}

.message_txt{
  color: $main-color;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
  margin: 0;
  @include mq(){
    font-size: 1.6rem;
    line-height: 3rem;
  }
}

.job_detail_box{padding:40px 0 80px;}

.job_detail h3{
  color: $main-color;
  margin: 40px 0;
  line-height: 3.3rem;
  span{
    display: block;
    font-size: 1.4rem;
    color: #000;
  }
}

.job_detail_img{width: 45%; @include mq(){width: 100%;}}
.job_detail_txt{width: 52%;padding-left: 3%; @include mq(){width: 100%;}}

.job_detail_txt{
  h4{
    color: $main-color;
    text-align: center;
    font-size: 1.8rem;
    padding: 8px 0;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    margin: 0;
  }
  span{
    background-color: $gray;
    color: $main-color;
    padding: 0 20px;
    display: inline-block;
    margin: 20px 0 10px;
  }
  .red{color: #d80000;}
}

.recruit_btn{
  display: inline-block;
  min-width: 40%;
  text-align: center;
  &::before{
    display: none;
  }
}
.recruit_point{
  background-color: $gray;
}
.recruit_point .wrapper{
  max-width: 700px;
  justify-content: space-between;
  padding-bottom: 50px;
}
.point_box{
  width: 31%;
  text-align: center;
  color: $main-color;
  img{max-width: 152px;}
  p{
    margin: 0 0 20px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    @include mq(){
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
  span{
    font-size: 1.3rem;
    display: inline-block;
  }
}

.job_detail_cv{
  background-color: $gray;
  text-align: center;
  padding: 40px 0;
  .btn{
    justify-content: center;
    padding-bottom: 30px;
    a{min-width: 20%;}
    div{border-radius: 6px;}
  }
  img{
    margin: auto;
    width: auto;
    max-width: 90%;
    border-radius: 6px;
    transition: all .3s;
    &:hover{opacity: .6;}
  }
}

.recruit_message .wrapper{
  max-width: 900px;
  padding-bottom: 80px;
}
.recruit_message{
  h2{
    padding-bottom: 0;
    @include mq(){padding-top: 40px;}
  }
  h4{
    color: $main-color;
    margin: 40px 0 12px;
    font-size: 2rem;
  span{
    background-color: $main-color;
    color: #fff;
    margin-right: 10px;
    padding: 2px 10px;
    border-left: 2px solid #c6251e;
  }
}
}
.case_inner{
  padding-top: 100px;
  h4{
    padding-top: 100px;
    margin-top:-150px;
    @include mq(){
      margin-top:-170px;
      font-size: 1.6rem;
    letter-spacing: -.1rem;
    }
  }
}
.case_txt{
  background-color: $gray;
  padding: 20px;
}
