// compileCompressed: ../css/$1.css

@import "common";
@import "nav";
@import "layer";

//タブ
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  padding: 26px 0 0;
}


/*選択されているタブのコンテンツのみを表示*/
#doboku:checked ~ #doboku_content,
#archtect:checked ~ #archtect_content,
#now:checked ~ #now_content {
  display: block;
}

.tab_content{width: 100%;}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .results_box{
  opacity: .5;
}

#results .wrapper{
  padding: 30px 0;
}

label{cursor: pointer;}

#results table{
  border-collapse: collapse;
  width: 100%;
}
#results th,#results td{
  padding: 5px 10px;
  font-size: 1.6rem;
  @include mq(){
    font-size: 1.3rem;
  }
}
#results th{
  border-right: 1px solid #e1e9ea;
  width: 40%;
}
#results tr{
  background-color: $gray;
  &:nth-of-type(2n){background-color: #fff;}
}
#results tr:first-child{
  th,td{
    background-color: $main-color;
    color: #fff;
    text-align: center;
  }
}
#archtect_content{padding-top: 0;}
