// compileCompressed: ../css/$1.css

@import "common";
@import "nav";
@import "layer";
dl{
  background-color: $gray;
  padding: 20px;
}
dt::before{
  display: inline-block;
  content: "Q.";
  color: $main-color;
}
dd::before{
  display: inline-block;
  content: "A.";
  color: #92181d;
}
dt{
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
dd{
  margin-inline-start: 0;
}

.support{
  padding: 50px 0;
}
