// compileCompressed: ../css/$1.css

@import "common";
@import "nav";
@import "layer";

.thanks{
  text-align: center;
  padding-bottom: calc(100vh - 700px);
  background-color: $gray;
  p{padding: 100px 0;margin: 0;}
  span{
    font-size: 3rem;
    color: $main-color;
    display: inline-block;
    @include mq(){font-size: 1.8rem;}
  }
}
