// compileCompressed: ../css/$1.css

@charset "UTF-8";
@import "common";
@import "nav";

//top

#mv{
  background-image: url(../image/top/bk_top_mv.png);
  position: relative;
  height: 85vh;
  background-size: cover;
  animation: bg-slider 80s linear infinite;
  @include mq(){
    background-image: url(../image/top/bk_top_mv_sp.png);
    height: auto;
  }
  .wrapper{
    max-width: 1600px;
    justify-content: center;
    align-items: center;
    height: 85vh;
    @include mq(){
      display: block;
      height: auto;
      padding: 30px 0 20px;
    }
  }
  h1{
    font-size: 4.7vh;
    margin-bottom: 2vh;
    color: $main-color;
    @include mq(xl){
      font-size: 3.8vw;
    }
    @include mq(){
      font-size: 7vw;
      padding-top: 70px;
      margin-top: 0;
    }
  }
  .mv_txt{
    max-width: 48%;
    max-height: 65vh;
    position: relative;
    padding-right: 10px;
    @include mq(){
      max-width: 100%;
      text-align: center;
      padding-right: 0;
    }
    img{
      position: absolute;
      bottom: -15%;
      right: 0;
      width: 50%;
      transform: rotate(-5deg);
    }
  }
  .mv_img{
    max-width: 50%;
    @include mq(){
      max-width: 100%;
      text-align: center;
    }
    img{
      object-fit: contain;
      @include mq(){
        display: none;
      }
    }
  }
  &::before{
    content: '';
    position: absolute;
    background-image: url(../image/top/txt__top_mv_copy.png);
    width: 11px;
    height: 311px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    @include mq(){
      display: none;
    }
  }
  .mv_txt p{
    line-height: 3rem;
    margin: 0 0 30px 0;
    @include mq(){
      font-size: 1.4rem;
      line-height: 2.5rem;
      margin-bottom: 80px;
    }
  }
  .btn.sp{
    margin: 20px 0 0;
    justify-content: center;
    font-size: 1.3rem;
  }
  .line_btn,.form_btn{
    border-radius: 30px;
    @include mq(){
      padding: 10px 20px;
      display: inline-block;
      font-size: 3vw;
    }
    &::after{
      @include mq(){right: 10px;}
    }
  }
  .line_guide_btn a{
    color: #00a0ff;
    text-decoration: underline;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
    @include mq(){
      margin:20px 0;
    }
  }
  .scroll_bar{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    padding: 10px 10px 4.5vh;
    overflow: hidden;
    color: $main-color;
    font-size: .1vh;
    font-weight: bold;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 1px;
      height: 3.8vh;
      background: $main-color;
      animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
      left: 14px;
    }
    @include mq(){
      display: none;
    }
  }
}
@keyframes bg-slider {
	from { background-position: 0 0; }
  to { background-position: -1518px 0; }
}

//info
#top-info{
  background-color: $main-color;
  color: #fff;
  margin: auto;
  padding: 30px 0;
  z-index: 2;
  .flex{@include mq(-md){flex-wrap: nowrap;}}
  .top-info_title{
    align-items: center;
    padding-right: 40px;
    @include mq(){
      padding-right: 0;
      text-align: center;
      margin: auto;
      letter-spacing: .3rem;
    }
  }
  ul{
    border-left: 1px solid #fff;
    max-height: 140px;
    overflow-y: scroll;
    padding: 0 40px;
    font-size: 14px;
    line-height: 3rem;
    @include mq(){
      border-left: none;
      border-top:1px solid #fff;
      padding: 0;
      line-height: inherit;
      padding-top: 10px;
      margin: 0;
    }
  }
  li{
    @include mq(){font-size: 1.2rem}
  }
  a{
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #494496;
    display: inline-block;
    width: 100%;
  }
}

//キャッチ
#catch{
  background-image: url(../image/top/bk_top_catch.png);
  background-size: cover;
  background-repeat: no-repeat;
  @include mq(-md){
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }
  @include mq(){
    padding-top: 50px;
    background-size: contain;
  }
  .wrapper{
    background-color: rgba(255,255,255,.8);
    max-width: 790px;
  }
  .catch_txt{
    color: $main-color;
    padding: 50px;
    text-align: center;
    line-height: 3rem;
    @include mq(){
      padding: 20px 0 0;
      font-size: 1.4rem;
    }
    h3{
      font-size: 3.6rem;
      position: relative;
      @include mq(){
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
      }
      &::before{
        content: '';
        position: absolute;
        left: 0px;
        top: -80px;
        background-image: url(../image/top/img_catch.png);
        width: 362px;
        height: 130px;
        max-width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .catch_btn{
    max-width: 255px;
    margin: 30px auto;
    &::before{display: none;}
  }
}

#top_case{
  .case_box{
    width: 48%;
    margin: 1%;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    position: relative;
    font-size: 1.6rem;
    transition:  all .3s;
    &:hover{
      box-shadow: none;
      background-color: #f5f5f5;
    }
    &::before,&::after{
      content: '';
      position: absolute;
      top: 50%;
      @include mq(){display: none;}
    }
    &::after{
      width: 6px;
      height: 6px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotate(45deg) translate(-50%, -50%);
      right: 28px;
      top: 51%;
    }
    &::before{
      right: 0;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: $main-color;
      transform: translate(-50%, -50%);
    }
    span{
      position: absolute;
      background-color: $main-color;
      color: #fff;
      left: 0;
      top:0;
      padding: 0 10px;
    }
    div{
      padding: 50px 60px 30px 30px;
      color: $main-color;
      @include mq(){
        padding: 40px 15px 15px;
        font-size: 1.4rem;
      }
    }
  }
  .case_inner{
    background-image: url(../image/top/bk_case.png);
    margin-top: 50px;
    padding: 5px 0 85px;
  }
  .wrapper{margin-top: -50px;}
  .case_txt{width: 100%;
    text-align: center;
    margin: 50px 0 20px;}
  .btn{
    margin: auto;
    display: flex;
    @include mq(){display: inline-block;}
    .line_btn, .form_btn{
      width: 200px;
      text-align: center;
    }
  }
  .line_btn{
    @include mq(){margin: 0 0 20px;}
  }
}

#top_contents{
  background-image: url(../image/top/bk_contents.png);
  .wrapper{
    padding: 50px 0;
    @include mq(){padding: 30px 0 10px;}
  }
  .contents_box{
    width: 23%;
    padding: 0 1%;
    position: relative;
    transition: all .3s;
    @include mq(){
      width: 48%;
    }
    &:hover{
      opacity: .6;
    }
  }
  img{
    height: 169px;
    object-fit: cover;
    @include mq(){height: 100px;}
  }
  p{
    margin: 0;color: #fff;
    position: relative;
    @include mq(){
      font-size: 1.2rem;
      margin: 0 0 1rem 0;
    }
    &::before{
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg) translate(-50%, -50%);
      margin-right: 8px;
      vertical-align: sub;
    }
  }
}

//ローディング
.loadingAnim{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.loadingAnim:before,
.loadingAnim:after{
    line-height: 1;
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    content: ' ';
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;
    transition-delay: .3s;
    background-color: $main-color;

}
.loadingAnim:before{
    top: 0;
}
.loadingAnim:after{
    bottom: 0;
}

.loaded .loadingAnim:before{
    height: 0;
    -webkit-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    transform: translateY(-1%);
}
.loaded .loadingAnim:after{
    height: 0;
    -webkit-transform: translateY(1%);
    -ms-transform: translateY(1%);
    transform: translateY(1%);
}

.loadingAnim_line{
    line-height: 1;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 30rem;
    height: 2em;
    margin: auto;
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;
    transition-delay: .6s;
    text-align: center;
    @include mq(){
      width: 15rem;
      height: 1em;
    }
}
.loadingAnim_line:after{
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%;
    margin: auto  auto auto 0;
    content: ' ';
    animation: loadingAnim 2s ease-in-out .1s infinite normal backwards;
    background-color: #fff;
    will-change: transform, width;
    @include mq(){animation: loadingAnim 1.2s ease-in-out .1s infinite normal backwards;}
}
.loadingAnim_line:before{
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    display: block;
    content: 'FUJIHIRA';
    animation: loadingAnim_text 1s ease .1s infinite alternate both;
    letter-spacing: .5em;
    color: #fff;
    will-change: opacity;
    @include mq(){
      font-size: 1.5rem;
      animation: loadingAnim_text .6s ease .1s infinite alternate both;
    }
}
.loaded .loadingAnim_line{
    overflow: hidden;
    height: 0;
}
.loaded .loadingAnim_line:after,
.loaded .loadingAnim_line:before{
    -webkit-animation: none;
    animation: none;
}
.loaded .loadingAnim_line:before{
 content: 'FUJIHIRA';
}
@-webkit-keyframes loadingAnim{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
        -webkit-transform: translate(100%);
        transform: translate(100%);
    }
}
@keyframes loadingAnim{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
        -webkit-transform: translate(100%);
        transform: translate(100%);
    }
}
@-webkit-keyframes loadingAnim_text{
    0%{
        opacity: 1;
        color: #cba166;
    }
    50%{
        color: #333;

    }
    100%{
        opacity: .5;
        color: #fff;
    }
}
@keyframes loadingAnim_text{
    0%{
        opacity: 1;
        color: #cba166;
    }
    50%{
        color: #333;
    }
    100%{
        opacity: .5;
        color: #fff;
    }
}
